@import "tailwindcss";
@tailwind utilities;

@layer base {
	* {
		font-family: "Inter", sans-serif;
	}
}
body {
	scroll-behavior: smooth;
}
*::after,
html {
	box-sizing: border-box;
	width: 100%;
	scroll-behavior: smooth;
}
